.bttn {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 16px 25px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  }
  .bttn:hover {
    background-color: rgb(15, 11, 10);
    color: white;
  }
.card {
    height: 400px;
    width: 400px;
    background: url('../img/category/grappling-glove.jpg') no-repeat;
    display: inline-block;
}
.card:hover {
    background: url('../img/category/grapling-glove-hover.jpg') no-repeat;
}