* {
  box-sizing: border-box;
}


img {
  vertical-align: middle;
  height:100%;
  width:100%;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #05050486;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  font-size:26px;
  text-align: center;
  background-color: #222;
  padding: 8px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

/* Product Div */
.rm {
  border-bottom: 6px solid white;
}

.checked {
  color: orange;
}

.caption-container2 {
  font-size:20px;
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: black;
}

.caption-container3 {
  font-size:20px;
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: black;
}

.btn-1 {
  border: 2px solid #4CAF50;
  background-color: white;
  color: #4CAF50;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btn-1:hover {
  background-color: #4CAF50;
  color: white;
}

.btn-2 {
  border: 2px solid orange;
  background-color: white;
  color: orange;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;

}

.btn-2:hover {
  background-color: orange;
  color: white;
}
.p1{
  color:black;
}

.tab {
  border:1px solid #ccc;
  overflow: hidden;
  background-color: #f1f1f1;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}