/*
Credits:
Code snippet by @maridlcrmn (Follow me on Twitter)
Images by Nike.com (http://www.nike.com/us/en_us/)
Logo by Sneaker-mission.com (http://www.sneaker-mission.com/)
*/

.navbar-brand { 
    width: 70px;
    height: 50px;
    background: url('http://www.sneaker-mission.com/uploads/3/1/2/7/31279819/5617441.png') no-repeat center center;
    background-size: 50px;  
  }
  
  .nav-tabs {
    display: inline-block;
    border-bottom: none;
    padding-top: 15px;
    font-weight: bold;
  }
  .nav-tabs > li > a, 
  .nav-tabs > li > a:hover, 
  .nav-tabs > li > a:focus, 
  .nav-tabs > li.active > a, 
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    border: none;
    border-radius: 0;
  }
  
  .nav-list { border-bottom: 1px solid #eee; }
  .nav-list > li { 
    padding: 20px 15px 15px;
    border-left: 1px solid #eee; 
  }
  .nav-list > li:last-child { border-right: 1px solid #eee; }
  .nav-list > li > a:hover { text-decoration: none; }
  .nav-list > li > a > span {
    display: block;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .mega-dropdown { position: static !important; }
  .mega-dropdown-menu {
    padding: 20px 15px 15px;
    text-align: center;
    width: 100%;
  }